/.vscode
/a.exe
/main.c
/main.exe
/html
/latex
x64
VectorDe.271B07D
.vs
VectorDebugVisualStudio.sln
VectorDebugVisualStudio.vcxproj
VectorDebugVisualStudio.vcxproj.filters
VectorDebugVisualStudio.vcxproj.user